body {
    background: linear-gradient(to bottom right, #FF6B6B, #FF8E53);
    
  }

.btn:hover {
    transform: translateY(-5px); 
    transition: transform 0.2s ease-in-out;
  }
  
  .border{
    background: linear-gradient(to bottom right,#FF8E53, #FF6B6B);
    
  }

  /* Estilos para la imagen con ID "manos" */
#manos {
  max-width: 50%;
  height: auto;
  width: auto\9; 
  display: block;
  padding: 50px;
  margin: 0 auto;
  animation: rotate 4s linear infinite; /* Animación para girar en círculos */
}

/* Animación para girar en círculos */
@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
